<!-- Global progress bar-->
<ng-progress></ng-progress>
<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>
	<!-- A sidebar -->
	<ng-sidebar [(opened)]="_opened">

		<div class="card border-secondary mb-3" style="max-width: 18rem;">
			<img src="https://www.kasual.biz/images/logo.png" class="card-img-top" alt="...">
			<div class="card-body text-secondary">
				<h5 class="card-title">Angular Exercise</h5>
				<p class="card-text">Simple map application, where it shows historic air quality data by country using
					the Open AQ Platform API. It's made with Angular, using LeafletJS Map Engine and Bootstrap for
					styling.</p>
				<p class="card-text">
					<app-filter></app-filter>
				</p>
				<p class="card-text text-center"><a href="#" class="btn btn-primary btn-block"
						(click)="_toggleSidebar()">Close</a></p>
			</div>
			<div class="card-footer">
				<p class="card-text text-right"><small class="text-muted">@Marcos OJEDA</small></p>
			</div>
		</div>
	</ng-sidebar>

	<!-- Page content -->
	<div ng-sidebar-content style="height: 100vh;">
		<nav class="navbar navbar-light fixed-top">
			<button class="navbar-toggler" (click)="_toggleSidebar()"  type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
		</nav>
		<app-map></app-map>
	</div>
</ng-sidebar-container>